engine-strict=true
package-manager-strict-version=true
save-workspace-protocol=true
link-workspace-packages=true
manage-package-manager-versions=false
verify-deps-before-run=error
public-hoist-pattern[]=eslint
